.dark-theme .post-content figure,
.dark-theme .post-content figure.highlight .code pre {
  background-color: #23241f;
  color: #f8f8f2;
}
.dark-theme .post-content figure.highlight .gutter pre {
  background-color: #23241f;
  color: $dark-mode-pre-line-number-foreground-color;
}
