@font-face {
  font-family: 'PingFang SC';
  src: url("../fonts/PINGFANG MEDIUM.TTF") format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight: 400;
  font-display: swap;
}
